<form class="measure" name="contact" method="POST" netlify-honeypot="bot-field" netlify>
    <fieldset id="contact" class="ba b--transparent ph0 mh0">
		<div class="hidden">
			<label>Don’t fill this out if you're human: <input name="bot-field"></label>
		</div>
      	<div class="mt3">
          	<label class="db fw6 lh-copy f6" for="name">Name</label>
          	<input class="pa2 input-reset ba w-100" type="text" name="name"  id="name">
        </div>
      	<div class="mt3">
        	<label class="db fw6 lh-copy f6" for="email">Email</label>
        	<input class="pa2 input-reset ba w-100" type="email" name="email"  id="email">
      	</div>
      	<div class="mv3">
        	<label class="db fw6 lh-copy f6" for="message">Message</label>
        	<textarea class="b pa2 input-reset ba w-100" type="text" name="message"  id="message"></textarea>
      	</div>
    </fieldset>
    <div class="">
      	<input class="b ph3 pv2 input-reset ba b--black grow pointer f6 dib" type="submit" value="Submit">
    </div>
</form>
